<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教学过程管理系统 历史加分详情页面</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/result.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          教学过程管理系统&nbsp;&nbsp;<small>个人历史加分详情</small>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div class="container" id="summary_container">
      <!-- 标签页开始 -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">您正在查询：通信软件基础（通信工程专业卓越工程师班）班级：01914 | 01,02<p class="pull-right">2011210046 王豆豆 的历史加分详情</p></div>
            <div class="panel-body rightContent">
              <form>
                <table class="table table-bordered table-hover table-striped">
                 <thead>
                   <tr>
                     <th>学生编号</th>
                     <td>学生姓名</td>
                     <td>加分项</td>
                     <td>加分</td>
                     <td>说明</td>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <th rowspan="5" style="vertical-align: middle;">
                        2011210046
                     </th>
                     <th rowspan="5" style="vertical-align: middle;">王豆豆</th>
                     <td>上课举手积极</td>
                     <td>
                       1
                     </td>
                     <td>4月25日上课举手积极，表现良好</td>
                   </tr>
                    <tr>
                      <td>课外涉及广泛</td>
                     <td>
                       1
                     </td>
                     <td>老师规定的读物已阅读</td>
                    </tr> 
                    <tr>
                      <td>小组谈论活跃</td>
                     <td>
                       1
                     </td>
                     <td>4月25日小组讨论结果不错</td>
                    </tr>  
                    <tr>
                      <td>行为礼貌带动氛围</td>
                     <td>
                       1
                     </td>
                     <td>上课期间礼貌对人，早读不落</td>
                    </tr> 
                    <tr>
                      <td>回答特殊问题</td>
                     <td>
                       1
                     </td>
                     <td>4月25日老师的问题回答不错</td>
                    </tr> 
                 </tbody>
                </table>
              </form>
              <form>
                <table class="table table-bordered table-hover table-striped">
                 <thead>
                   <tr>
                     <th>学生编号</th>
                     <td>学生姓名</td>
                     <td>加分项</td>
                     <td>加分</td>
                     <td>说明</td>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <th rowspan="5" style="vertical-align: middle;">
                        2011210046
                     </th>
                     <th rowspan="5" style="vertical-align: middle;">王豆豆</th>
                     <td>上课举手积极</td>
                     <td>
                       1
                     </td>
                     <td>4月25日上课举手积极，表现良好</td>
                   </tr>
                    <tr>
                      <td>课外涉及广泛</td>
                     <td>
                       1
                     </td>
                     <td>老师规定的读物已阅读</td>
                    </tr> 
                    <tr>
                      <td>小组谈论活跃</td>
                     <td>
                       1
                     </td>
                     <td>4月25日小组讨论结果不错</td>
                    </tr>  
                    <tr>
                      <td>行为礼貌带动氛围</td>
                     <td>
                       1
                     </td>
                     <td>上课期间礼貌对人，早读不落</td>
                    </tr> 
                    <tr>
                      <td>回答特殊问题</td>
                     <td>
                       1
                     </td>
                     <td>4月25日老师的问题回答不错</td>
                    </tr> 
                 </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 标签页结束   -->
      <!-- 尾部开始 -->
      <hr class="divider">
      <footer>
      <p class="text-center">Copyright © 2016 Jelly_Wang All Rights Reserved</p>
      </footer>
    </div>
    <!-- 网站介绍结束 -->
    



    
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/execute.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>