<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教学过程管理系统 学生页面</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/student.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          教学过程管理系统
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav col-xs-push-8">
            <li class="active"><a href="student.html">查阅</a></li>
            <li><a href="studentHelp.html">使用说明</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right ">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$stu[0]}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">号码：{$stu[1]}</a></li>
                <li><a href="#">级别：学生</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">重新登陆</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- 导航结束 -->
    <div class="container" id="summary_container">
      <!-- 标签页开始 -->
      <div class="row">
        <div class="col-md-3 panel panel-default leftList">
          <ul class="nav nav-pills nav-stacked" role="tablist">
              {section name=tClass loop=$tClassList}
            <li role="presentation" class="active"><a href="#class1" aria-controls="class1" role="tab" data-toggle="tab">
                <h4 class="list-group-item-heading">{$tClassList[tClass][0]}</h4>
                <p class="list-group-item-text">{$tClassList[tClass][1]}</p>
                <p class="list-group-item-text">{$tClassList[tClass][2]}</p>
            </a></li>
              {/section}
          </ul>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
            您正在编辑：通信软件基础（通信工程专业卓越工程师班）班级：01914 | 01,02
            <span class="pull-right">您的该科总成绩: <strong>88</strong> 分</span>
            </div>
            <div class="panel-body rightContent">
              <div class="tab-content rightContentTab">
                <div role="tabpanel" class="tab-pane active" id="class1">
                  <div>
                    <ul class="nav nav-tabs chengjigoucheng" role="tablist">
                      <div class="pull-left">
                        <h4 class="list-group-item-heading">组成</h4>
                        <h4 class="list-group-item-heading">比例</h4>
                        <h4 class="list-group-item-heading">次数</h4>
                      </div>
                      <li role="presentation" class="active"><a href="#pingshizuoye" aria-controls="pingshizuoye" role="tab" data-toggle="tab" >
                        <h4 class="list-group-item-heading">平时作业</h4>
                        <p class="list-group-item-text">5%</p>
                        <p class="list-group-item-text">4次</p>
                      </a></li>
                      <li role="presentation"><a href="#dazuoye" aria-controls="dazuoye" role="tab" data-toggle="tab" >
                        <h4 class="list-group-item-heading">大作业</h4>
                        <p class="list-group-item-text">15%</p>
                        <p class="list-group-item-text">2次</p>
                      </a></li>
                      <li role="presentation"><a href="#dabian" aria-controls="dabian" role="tab" data-toggle="tab">
                        <h4 class="list-group-item-heading">答辩</h4>
                        <p class="list-group-item-text">20%</p>
                        <p class="list-group-item-text">2次</p>
                      </a></li>
                      <li role="presentation"><a href="#kaoqin" aria-controls="kaoqin" role="tab" data-toggle="tab">
                        <h4 class="list-group-item-heading">考勤</h4>
                        <p class="list-group-item-text">20%</p>
                        <p class="list-group-item-text">4次</p>
                      </a></li>
                      <li role="presentation"><a href="#banqikaoshi" aria-controls="banqikaoshi" role="tab" data-toggle="tab">
                        <h4 class="list-group-item-heading">半期考试</h4>
                        <p class="list-group-item-text">20%</p>
                        <p class="list-group-item-text">2次</p>
                      </a></li>
                      <li role="presentation"><a href="#qimokaoshi" aria-controls="qimokaoshi" role="tab" data-toggle="tab">
                        <h4 class="list-group-item-heading">期末考试</h4>
                        <p class="list-group-item-text">20%</p>
                        <p class="list-group-item-text">1次</p>
                      </a></li>
                      <li role="presentation"><a href="#kechengjiafen" aria-controls="kechengjiafen" role="tab" data-toggle="tab">
                        <h4 class="list-group-item-heading">课程加分</h4>
                        <p class="list-group-item-text">上限:10分</p>
                        <p class="list-group-item-text">1次</p>
                      </a></li>
                    </ul>
                    <div class="tab-content">
                      <!-- 平时作业切换开始 -->
                      <div role="tabpanel" class="tab-pane active" id="pingshizuoye">
                        <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills cishugoucheng " role="tablist">
                            <li role="presentation" class="active"><a href="#pingshizuoyeNoFirst" aria-controls="pingshizuoyeNoFirst" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第一次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#pingshizuoyeNoSecond" aria-controls="pingshizuoyeNoSecond" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第二次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#pingshizuoyeNoThird" aria-controls="pingshizuoyeNoThird" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第三次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#pingshizuoyeNofourth" aria-controls="pingshizuoyeNofourth" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第四次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="pingshizuoyeNoFirst">
                              <!-- 作业开始 -->
                              <blockquote style="margin-bottom: 20px">
                                <p>平时作业题目以及详情</p>
                                <footer>
                                  {$pszyList[0]}
                                </footer>
                              </blockquote>
                              <table class="table table-bordered table-hover table-striped" style="margin-bottom: 20px">
                                 <thead>
                                   <tr>
                                     <th>满分</th>
                                     <th>评定人</th>
                                     <th>发布时间</th>
                                     <th>截至时间</th>
                                     <th>提交方式</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>{$pszyList[4]}</td>
                                     <td>王华华</td>
                                     <td>{$pszyList[3]}</td>
                                     <td>{$pszyList[1]}</td>
                                     <td>{$pszyList[6]}</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <div class="form-group">
                                  <label for="InputFile">上传作业</label>
                                  <input type="file" id="InputFile">
                                  <p class="help-block">如若任课老师要求，请将作业上传在此处。未在截至时间之前上传自动视为未提交，文件命名格式（学号+姓名）</p>
                              </div>
                              <hr class="divider">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>是否提交</th>
                                     <th>作业成绩</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2012210046</td>
                                     <td>沈自如</td>
                                     <td>提交</td>
                                     <td>6</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <!-- 作业结束 -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="pingshizuoyeNoSecond">...</div>
                            <div role="tabpanel" class="tab-pane" id="pingshizuoyeNoThird">...</div>
                            <div role="tabpanel" class="tab-pane" id="pingshizuoyeNofourth">...</div>
                          </div>
                        </div>
                      </div>
                      <!-- 平时作业切换结束 -->
                      <!-- 大作业开始 -->
                      <div role="tabpanel" class="tab-pane" id="dazuoye">
                        <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills cishugoucheng " role="tablist">
                            <li role="presentation" class="active"><a href="#dazuoyeNoFirst" aria-controls="dazuoyeNoFirst" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第一次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                            <li role="presentation"><a href="#dazuoyeNoSecond" aria-controls="dazuoyeNoSecond" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第二次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="dazuoyeNoFirst">
                              <!-- 作业开始 -->
                              <blockquote style="margin-bottom: 20px">
                                <p>大作业题目以及详情</p>
                                <footer>
                                  题目：论知识产权在当今社会的重要性。要求：字数在一千字以上，上交以纸质的形式,上交地点在逸夫楼201室。
                                </footer>
                              </blockquote>
                              <table class="table table-bordered table-hover table-striped" style="margin-bottom: 20px">
                                 <thead>
                                   <tr>
                                     <th>满分</th>
                                     <th>评定人</th>
                                     <th>发布时间</th>
                                     <th>截至时间</th>
                                     <th>提交方式</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>100</td>
                                     <td>王华华</td>
                                     <td>2016-04-23</td>
                                     <td>2016-05-23</td>
                                     <td>线上提交</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <div class="form-group">
                                  <label for="InputFile">上传作业</label>
                                  <input type="file" id="InputFile">
                                  <p class="help-block">如若任课老师要求，请将作业上传在此处。未在截至时间之前上传自动视为未提交，文件命名格式（学号+姓名）</p>
                              </div>
                              <hr class="divider">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>是否提交</th>
                                     <th>作业成绩</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2012210046</td>
                                     <td>沈自如</td>
                                     <td>提交</td>
                                     <td>60</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <!-- 作业结束 -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="dazuoyeNoSecond">...</div>
                          </div>
                        </div>
                      </div>
                      <!-- 大作业结束 -->
                      <!-- 答辩切换开始 -->
                      <div role="tabpanel" class="tab-pane" id="dabian">
                        <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills cishugoucheng " role="tablist">
                            <li role="presentation" class="active"><a href="#dabianNoFirst" aria-controls="dabianNoFirst" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第一次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                            <li role="presentation"><a href="#dabianNoSecond" aria-controls="dabianNoSecond" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第二次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="dabianNoFirst">
                              <!-- 作业开始 -->
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>小组编号</th>  
                                     <th>学生姓名</th>
                                     <th>分配题目</th>
                                     <th>答辩时间</th>
                                     <th>答辩地点</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>001</td>
                                     <td>沈自如 王大成 毛建林 王才人</td>
                                     <td>
                                       论4G技术与当今社会的运用
                                     </td>
                                     <td>
                                       2016-06-01
                                     </td>
                                     <td>
                                       逸夫楼311
                                     </td>
                                   </tr>
                                 </tbody>
                              </table>
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>答辩报告发布时间</th>  
                                     <th>答辩报告截至时间</th>
                                     <th>提交方式</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2016-04-23</td>
                                     <td>2016-05-23</td>
                                     <td>
                                       线上提交
                                     </td>
                                   </tr>
                                 </tbody>
                              </table>
                              <div class="form-group">
                                  <label for="InputFile">上传作业</label>
                                  <input type="file" id="InputFile">
                                  <p class="help-block">如若任课老师要求，请将答辩报告上传在此处。未在截至时间之前上传自动视为未提交，文件命名格式（学号+姓名+小组编号）</p>
                              </div>
                              <hr class="divider">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>是否提交</th>
                                     <th>答辩成绩</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2012210046</td>
                                     <td>沈自如</td>
                                     <td>提交</td>
                                     <td>70</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <!-- 作业结束 -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="dabianNoSecond">...</div>
                          </div>
                        </div>
                        
                      </div>
                      <!-- 答辩切换结束 -->
                      <!-- 考勤切换开始 -->
                      <div role="tabpanel" class="tab-pane" id="kaoqin">
                        <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills cishugoucheng " role="tablist">
                            <li role="presentation" class="active"><a href="#kaoqinNoFirst" aria-controls="kaoqinNoFirst" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第一次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#kaoqinNoSecond" aria-controls="kaoqinNoSecond" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第二次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#kaoqinNoThird" aria-controls="kaoqinNoThird" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第三次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                            <li role="presentation"><a href="#kaoqinNofourth" aria-controls="kaoqinNofourth" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第四次</p>
                              <p class="list-group-item-text">25%</p>
                            </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="kaoqinNoFirst">
                              <!-- 内部便签切换开始 -->
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>正常</th>
                                     <th>请假</th>
                                     <th>迟到</th>
                                     <th>旷课</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2011210046</td>
                                     <td>沈自如</td>
                                     <td>是</td>
                                     <td>否</td>
                                     <td>否</td>
                                     <td>否</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <!-- 内部便签切换结束 -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="kaoqinNoSecond">..2.</div>
                            <div role="tabpanel" class="tab-pane" id="kaoqinNoThird">...3</div>
                            <div role="tabpanel" class="tab-pane" id="kaoqinNofourth">..4.</div>
                          </div>
                        </div>
                      </div>
                      <!-- 考勤切换结束 -->
                      <!-- 半期考试开始 -->
                      <div role="tabpanel" class="tab-pane" id="banqikaoshi">
                        <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-pills cishugoucheng " role="tablist">
                            <li role="presentation" class="active"><a href="#banqiNoFirst" aria-controls="banqiNoFirst" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第一次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                            <li role="presentation"><a href="#banqiNoSecond" aria-controls="banqiNoSecond" role="tab" data-toggle="tab">
                              <p class="list-group-item-text">第二次</p>
                              <p class="list-group-item-text">50%</p>
                            </a></li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="banqiNoFirst">
                              <!-- 作业开始 -->
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>（有）考试资格</th>
                                     <th>（无）考试资格</th>
                                     <th>（无）考试资格详细说明</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2011210046</td>
                                     <td>沈自如</td>
                                     <td>
                                       是
                                     </td>
                                     <td>
                                       否
                                     </td>
                                     <td>
                                       无
                                     </td>
                                   </tr>
                                 </tbody>
                              </table>
                              <hr class="divider">
                              <table class="table table-bordered table-hover table-striped">
                                 <thead>
                                   <tr>
                                     <th>学生编号</th>
                                     <th>学生姓名</th>
                                     <th>正常</th>
                                     <th>缺考</th>
                                     <th>作弊</th>
                                     <th>成绩</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>2011210046</td>
                                     <td>沈自如</td>
                                     <td>是</td>
                                     <td>否</td>
                                     <td>否</td>
                                     <td>70</td>
                                   </tr>
                                 </tbody>
                              </table>
                              <!-- 作业结束 -->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="banqiNoSecond">...</div>
                          </div>
                        </div>
                        
                      </div>
                      <!-- 半期考试结束 -->
                      <!-- 期末考试开始 -->
                      <div role="tabpanel" class="tab-pane" id="qimokaoshi">
                          <table class="table table-bordered table-hover table-striped">
                           <thead>
                             <tr>
                               <th>学生编号</th>
                               <th>学生姓名</th>
                               <th>（有）考试资格</th>
                               <th>（无）考试资格</th>
                               <th>（无）考试资格详细说明</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>2011210046</td>
                               <td>沈自如</td>
                               <td>
                                 是
                               </td>
                               <td>
                                 否
                               </td>
                               <td>
                                 无
                               </td>
                             </tr>
                           </tbody>
                          </table>
                          <hr class="divider">
                          <table class="table table-bordered table-hover table-striped">
                             <thead>
                               <tr>
                                 <th>学生编号</th>
                                 <th>学生姓名</th>
                                 <th>正常</th>
                                 <th>缺考</th>
                                 <th>作弊</th>
                                 <th>成绩</th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr>
                                 <td>2011210046</td>
                                 <td>沈自如</td>
                                 <td>是</td>
                                 <td>否</td>
                                 <td>否</td>
                                 <td>80</td>
                               </tr>
                             </tbody>
                          </table>
                      </div>
                      <!-- 期末考试结束 -->
                      <!-- 课程加分开始 -->
                      <div role="tabpanel" class="tab-pane" id="kechengjiafen">
                        <form>
                          <table class="table table-bordered table-hover table-striped">
                           <thead>
                             <tr>
                               <th>学生编号</th>
                               <td>学生姓名</td>
                               <td>加分项</td>
                               <td>加分</td>
                               <td>说明</td>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <th rowspan="5" style="vertical-align: middle;">2011210046</th>
                               <th rowspan="5" style="vertical-align: middle;">沈自如</th>
                               <td>上课举手积极</td>
                               <td>
                                 <div class="input-group" style="width: 100px">
                                 <input type="text" class="form-control" id="danxiangjiafen00" placeholder="">
                                 <div class="input-group-addon">分</div>
                               </td>
                               <td>
                                <input type="text" class="form-control" id="jiafenshuoming00" placeholder="填写简短加分理由">
                               </td>
                             </tr>
                              <tr>
                                <td>课外涉及广泛</td>
                               <td>
                                 <div class="input-group" style="width: 100px">
                                 <input type="text" class="form-control" id="danxiangjiafen01" placeholder="">
                                 <div class="input-group-addon">分</div>
                               </td>
                               <td>
                                <input type="text" class="form-control" id="jiafenshuoming01" placeholder="填写简短加分理由">
                               </td>
                              </tr> 
                              <tr>
                                <td>小组谈论活跃</td>
                               <td>
                                 <div class="input-group" style="width: 100px">
                                 <input type="text" class="form-control" id="danxiangjiafen02" placeholder="">
                                 <div class="input-group-addon">分</div>
                               </td>
                               <td>
                                <input type="text" class="form-control" id="jiafenshuoming02" placeholder="填写简短加分理由">
                               </td>
                              </tr>  
                              <tr>
                                <td>行为礼貌带动氛围</td>
                               <td>
                                 <div class="input-group" style="width: 100px">
                                 <input type="text" class="form-control" id="danxiangjiafen03" placeholder="">
                                 <div class="input-group-addon">分</div>
                               </td>
                               <td>
                                <input type="text" class="form-control" id="jiafenshuoming03" placeholder="填写简短加分理由">
                               </td>
                              </tr> 
                              <tr>
                                <td>回答特殊问题</td>
                               <td>
                                 <div class="input-group" style="width: 100px">
                                 <input type="text" class="form-control" id="danxiangjiafen04" placeholder="">
                                 <div class="input-group-addon">分</div>
                               </td>
                               <td>
                                <input type="text" class="form-control" id="jiafenshuoming04" placeholder="填写简短加分理由">
                               </td>
                              </tr> 
                           </tbody>
                          </table>
                          <button type="button" class="btn btn-primary" style="width: 300px;margin-left: 250px">提交加分请求给老师</button>
                        </form>
                        <hr class="divider">
                        <h4 style="text-align: center;margin:20px 0;">您在2016-04-25的加分请求正在等待老师处理</h4>
                        <table class="table table-bordered table-hover table-striped">
                           <thead>
                             <tr>
                               <th>学生编号</th>
                               <th>学生姓名</th>
                               <th>上课举手积极</th>
                               <th>课外涉及广泛</th>
                               <th>小组谈论活跃</th>
                               <th>行为礼貌带动氛围</th>
                               <th>回答特殊问题</th>
                               <th>查看详情</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>2011210045</td>
                               <td>沈自如</td>
                               <td>1</td>
                               <td>1</td>
                               <td>1</td>
                               <td>1</td>
                               <td>1</td>
                               <td><a href="add.html" target="_blank">点击查看</a></td>
                             </tr>
                           </tbody>
                        </table>
                        
                      </div>
                      <!-- 课程加分结束 -->
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="class2">
                  <div class="page-header">
                    <h3>考核组成</h3>
                  </div>
                  <p>...</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="class3">
                  <div class="page-header">
                    <h3>成绩录入</h3>
                  </div>
                  <p>...</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="class4">
                  <div class="page-header">
                    <h3>答辩组织</h3>
                  </div>
                  <p>...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 标签页结束   -->
      <!-- 尾部开始 -->
      <hr class="divider">
      <footer>
      <p class="text-center">Copyright © 2016 Jelly_Wang All Rights Reserved</p>
      </footer>
    </div>
    <!-- 网站介绍结束 -->
    



    
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/student.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>